---
    const api_base_url = "http://booking-cottage.loc";
---

<div class="contact-form">
    <form class="row g-3" id="contact-form" data-api-url={api_base_url}>
        <div class="col-12 col-md-6">
            <label for="name" class="form-label">Your name</label>
            <input type="text" class="form-control" name="name" placeholder="Your Name" required>
        </div>
        <div class="col-12 col-md-6">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-12">
            <label for="note" class="form-label">Message</label>
            <textarea class="form-control" id="note" name="note" rows="3" placeholder="Your message..." required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary col-12 mx-2">Submit</button>
    </form>
</div>

<script>
	const form = document.getElementById('contact-form') as HTMLFormElement;

    if(!form) {
        console.error("Contact form not found!");
    } else {
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            event.stopPropagation();

            const formData = new FormData(form);
            
            try {
                const apiBase  = form.dataset.apiUrl;
                const response = await fetch(`${apiBase}/api/form`, {
                    method: 'POST',
                    body: formData,
                });

                if (response.ok) {
                    console.log('Contact form submitted successfully');
                    form.reset();
                } else {
                    console.error('Error submitting contact form:', response.statusText);
                }
            } catch (error) {
                console.error('Error submitting contact form:', error);
            }
        });
    }
</script>