---
import { languages } from '../i18n/ui';
import { getPathWithoutLang, useTranslatedPath } from '../i18n/utils';

const basePath = getPathWithoutLang(Astro.url);
---

<ul>
    {Object.entries(languages).map(([lang, label]) => {
        const translatePath = useTranslatedPath(lang as keyof typeof languages);
        return (
            <li>
                <a href={translatePath(basePath)}>{label}</a>
            </li>
        );
    })}
</ul>