---
    import Layout from '../../layouts/Layout.astro';

	import { languages } from '../../i18n/ui';
	export function getStaticPaths() {
		return Object.keys(languages).map((lang) => ({
			params: { lang }, props: { lang }
		}));
	}
---

<Layout title="Rules - Booking cottage">
	<div id="container" class="container">
		<main>
			<h1 class="h1 pt-4">Rules of residence in our cottages</h1>

			<div class="mb-2">
				<p class="py-1 fs-5">
					<span class="text-uppercase">ПАРКУВАННЯ. </span>
					До ваших послуг на території Комплексу паркувальний майданчик, доступний для всіх гостей. 
					У разі відсутності вільних місць на паркувальному майданчику на території комплексу, 
					Ви можете залишити автомобіль вздовж дороги поряд з Комплексом. 
					Адмністратор також може попросити вас зайняти визначене місце на майданчику. 
				</p>
			</div>
			<div class="mb-2">
				<p class="py-1 fs-5">
					<span class="text-uppercase">УМОВИ ПОСЕЛЕННЯ. </span>
					При заселенні у Комплекс ми попросимо вас надати паспорт або інше дійсне посвідчення особи для кожного з гостей, 
					хто заселяється у комплекс, а також підписати картку гостя та внести повну оплату за весь час планованого проживання 
					у Комплексі. При невиконанні будь-якої з цих умов ми залишаємо за собою право відмовити у поселенні. 
					Внесена передплата у такому випадку не повертається.   
				</p>
			</div>
			<div class="mb-2">
				<p class="py-1 fs-5">
					<span class="text-uppercase">ЧАС ЗАЇЗДУ. </span>
					Ми чекаємо на Вас щодня з 15:00 до 23:00.  
				</p>
			</div>
			<div class="mb-2">
				<p class="py-1 fs-5">
					<span class="text-uppercase">ЧАС ВИЇЗДУ. </span>
					Ми просимо звільнити котеджі у день виїзду до 11:00, щоб наші покоївки встигли підготувати їх для заїзду наступних гостей.   
				</p>
			</div>
			<div class="mb-2">
				<p class="py-1 fs-5">
					<span class="text-uppercase">ПРОДОВДЖЕННЯ ПЕРЕБУВАННЯ. </span>
					Якщо Ви хотіли би залишитися у нас довше заброньованого періоду, зверніться на рецепцію. 
					За наявності у Комплексі вільних місць адміністратори продовжать Ваше перебування. 
					Рахунок за додаткові дні проживання потрібно буде оплатити одразу при продовженні бронювання. 				
				</p>
			</div>
			<div class="mb-2">
				<p class="py-1 fs-5">
					<span class="text-uppercase">КУЛЬТУРА ТИШІ. </span>
					Комплекс створений для релаксації та спокійного відпочинку. 
					Проведення гучних вечірок та великих подій у котеджах заборонене. 
					Якщо ви хочете провести у нас святкування / вечірку / подію, ви можете орендувати весь Комплекс цілком. 
					Для уточнення вільних дат та умов такого бронювання зверніться на рецепцію.   				
				</p>
			</div>
			<div class="mb-2">
				<p class="py-1 fs-5">
					<span class="text-uppercase">НАШІ НАЙМЕНШІ ВІДВІДУВАЧІ. </span>
					Проживання дітей у віці до 6 років (включно) з батьками додатково не тарифікується. 
					Проживання дітей віком від 7 років оплачується в повному обсязі згідно діючих тарифів.  				
				</p>
			</div>
		</main>
	</div>
</Layout>